{% if site.inc_before_meta %}
{% include {{ site.inc_before_meta }} %}
{% endif %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">

{% seo %}

{% assign pagetitle = page.name | replace: ".md", "" %}
{% assign title = pagetitle | append: " - " | append: site.title  | strip_html %}

<title>{{ title | strip_html | strip_newlines | truncate: 160 }}</title>

<meta property="og:title" content="{{ title | strip_html | strip_newlines | truncate: 160 }}">

<meta property="og:description" content="{% if page.excerpt %}
        {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ site.description }}
      {% endif %}">


<meta property="og:url"
  content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

{% if page.image %}
<meta property="og:image" content="{{page.image}}" />
<meta name="twitter:image" content="{{page.image}}" />
{% elsif site.logo_url %}
<meta property="og:image" content="{{ site.logo_url | relative_url }}" />
<meta name="twitter:image" content="{{ site.logo_url | relative_url }}" />
{% endif %}


{% if site.inc_after_meta %}
{% include {{ site.inc_after_meta }} %}
{% endif %}