{% if site.inc_before_scripts %}
{% include {{ site.inc_before_scripts }} %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="{{ '/assets/js/checkLinks.js' | relative_url }}"></script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% if site.inc_after_scripts %}
{% include {{ site.inc_after_scripts }} %}
{% endif %}