branch: {{ git_branch | default: master }}
{% assign site.git_branch = {{site.git_branch | default: master}} %}
branch: {{site.git_branch | default: master}}
{% capture site.git_branch %}{{site.git_branch | default: master}}{% endcapture %}
branch: {{site.git_branch}}
{% assign version = "2.3.1" %}
{% capture lchar %}{{page.url | slice: -1, 1}}{% endcapture %}
{% capture url %}
{% if lchar == "/" %}{{page.url}}index.html{% else %}{{ page.url | default: 'index.html' }}{% endif%}
{% endcapture %}
