@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.git-wiki-page .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.git-wiki-page .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.git-wiki-page .anchor:focus {
  outline: none;
}

.git-wiki-page h1 .octicon-link,
.git-wiki-page h2 .octicon-link,
.git-wiki-page h3 .octicon-link,
.git-wiki-page h4 .octicon-link,
.git-wiki-page h5 .octicon-link,
.git-wiki-page h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.git-wiki-page h1:hover .anchor,
.git-wiki-page h2:hover .anchor,
.git-wiki-page h3:hover .anchor,
.git-wiki-page h4:hover .anchor,
.git-wiki-page h5:hover .anchor,
.git-wiki-page h6:hover .anchor {
  text-decoration: none;
}

.git-wiki-page h1:hover .anchor .octicon-link,
.git-wiki-page h2:hover .anchor .octicon-link,
.git-wiki-page h3:hover .anchor .octicon-link,
.git-wiki-page h4:hover .anchor .octicon-link,
.git-wiki-page h5:hover .anchor .octicon-link,
.git-wiki-page h6:hover .anchor .octicon-link {
  visibility: visible;
}

.git-wiki-page {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.git-wiki-page .pl-c {
  color: #6a737d;
}

.git-wiki-page .pl-c1,
.git-wiki-page .pl-s .pl-v {
  color: #005cc5;
}

.git-wiki-page .pl-e,
.git-wiki-page .pl-en {
  color: #6f42c1;
}

.git-wiki-page .pl-s .pl-s1,
.git-wiki-page .pl-smi {
  color: #24292e;
}

.git-wiki-page .pl-ent {
  color: #22863a;
}

.git-wiki-page .pl-k {
  color: #d73a49;
}

.git-wiki-page .pl-pds,
.git-wiki-page .pl-s,
.git-wiki-page .pl-s .pl-pse .pl-s1,
.git-wiki-page .pl-sr,
.git-wiki-page .pl-sr .pl-cce,
.git-wiki-page .pl-sr .pl-sra,
.git-wiki-page .pl-sr .pl-sre {
  color: #032f62;
}

.git-wiki-page .pl-smw,
.git-wiki-page .pl-v {
  color: #e36209;
}

.git-wiki-page .pl-bu {
  color: #b31d28;
}

.git-wiki-page .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.git-wiki-page .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.git-wiki-page .pl-c2:before {
  content: "^M";
}

.git-wiki-page .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.git-wiki-page .pl-ml {
  color: #735c0f;
}

.git-wiki-page .pl-mh,
.git-wiki-page .pl-mh .pl-en,
.git-wiki-page .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.git-wiki-page .pl-mi {
  color: #24292e;
  font-style: italic;
}

.git-wiki-page .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.git-wiki-page .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.git-wiki-page .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.git-wiki-page .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.git-wiki-page .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.git-wiki-page .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.git-wiki-page .pl-ba {
  color: #586069;
}

.git-wiki-page .pl-sg {
  color: #959da5;
}

.git-wiki-page .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.git-wiki-page details {
  display: block;
}

.git-wiki-page summary {
  display: list-item;
}

.git-wiki-page a {
  background-color: transparent;
}

.git-wiki-page a:active,
.git-wiki-page a:hover {
  outline-width: 0;
}

.git-wiki-page strong {
  font-weight: inherit;
  font-weight: bolder;
}

.git-wiki-page h1 {
  font-size: 2em;
  margin: .67em 0;
}

.git-wiki-page img {
  border-style: none;
}

.git-wiki-page code,
.git-wiki-page kbd,
.git-wiki-page pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

.git-wiki-page hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.git-wiki-page input {
  font: inherit;
  margin: 0;
}

.git-wiki-page input {
  overflow: visible;
}

.git-wiki-page [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.git-wiki-page * {
  box-sizing: border-box;
}

.git-wiki-page input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.git-wiki-page a {
  color: #0366d6;
  text-decoration: none;
}

.git-wiki-page a:hover {
  text-decoration: underline;
}

.git-wiki-page strong {
  font-weight: 600;
}

.git-wiki-page hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.git-wiki-page hr:before {
  content: "";
  display: table;
}

.git-wiki-page hr:after {
  clear: both;
  content: "";
  display: table;
}

.git-wiki-page table {
  border-collapse: collapse;
  border-spacing: 0;
}

.git-wiki-page td,
.git-wiki-page th {
  padding: 0;
}

.git-wiki-page details summary {
  cursor: pointer;
}

.git-wiki-page h1,
.git-wiki-page h2,
.git-wiki-page h3,
.git-wiki-page h4,
.git-wiki-page h5,
.git-wiki-page h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.git-wiki-page h1 {
  font-size: 32px;
}

.git-wiki-page h1,
.git-wiki-page h2 {
  font-weight: 600;
}

.git-wiki-page h2 {
  font-size: 24px;
}

.git-wiki-page h3 {
  font-size: 20px;
}

.git-wiki-page h3,
.git-wiki-page h4 {
  font-weight: 600;
}

.git-wiki-page h4 {
  font-size: 16px;
}

.git-wiki-page h5 {
  font-size: 14px;
}

.git-wiki-page h5,
.git-wiki-page h6 {
  font-weight: 600;
}

.git-wiki-page h6 {
  font-size: 12px;
}

.git-wiki-page p {
  margin-bottom: 10px;
  margin-top: 0;
}

.git-wiki-page blockquote {
  margin: 0;
}

.git-wiki-page ol,
.git-wiki-page ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.git-wiki-page ol ol,
.git-wiki-page ul ol {
  list-style-type: lower-roman;
}

.git-wiki-page ol ol ol,
.git-wiki-page ol ul ol,
.git-wiki-page ul ol ol,
.git-wiki-page ul ul ol {
  list-style-type: lower-alpha;
}

.git-wiki-page dd {
  margin-left: 0;
}

.git-wiki-page code,
.git-wiki-page pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

.git-wiki-page pre {
  margin-bottom: 0;
  margin-top: 0;
}

.git-wiki-page input::-webkit-inner-spin-button,
.git-wiki-page input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.git-wiki-page .border {
  border: 1px solid #e1e4e8!important;
}

.git-wiki-page .border-0 {
  border: 0!important;
}

.git-wiki-page .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.git-wiki-page .rounded-1 {
  border-radius: 3px!important;
}

.git-wiki-page .bg-white {
  background-color: #fff!important;
}

.git-wiki-page .bg-gray-light {
  background-color: #fafbfc!important;
}

.git-wiki-page .text-gray-light {
  color: #6a737d!important;
}

.git-wiki-page .mb-0 {
  margin-bottom: 0!important;
}

.git-wiki-page .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}

.git-wiki-page .pl-0 {
  padding-left: 0!important;
}

.git-wiki-page .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.git-wiki-page .pl-1 {
  padding-left: 4px!important;
}

.git-wiki-page .pl-2 {
  padding-left: 8px!important;
}

.git-wiki-page .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}

.git-wiki-page .pl-3,
.git-wiki-page .px-3 {
  padding-left: 16px!important;
}

.git-wiki-page .px-3 {
  padding-right: 16px!important;
}

.git-wiki-page .pl-4 {
  padding-left: 24px!important;
}

.git-wiki-page .pl-5 {
  padding-left: 32px!important;
}

.git-wiki-page .pl-6 {
  padding-left: 40px!important;
}

.git-wiki-page .f6 {
  font-size: 12px!important;
}

.git-wiki-page .lh-condensed {
  line-height: 1.25!important;
}

.git-wiki-page .text-bold {
  font-weight: 600!important;
}

.git-wiki-page:before {
  content: "";
  display: table;
}

.git-wiki-page:after {
  clear: both;
  content: "";
  display: table;
}

.git-wiki-page>:first-child {
  margin-top: 0!important;
}

.git-wiki-page>:last-child {
  margin-bottom: 0!important;
}

.git-wiki-page a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.git-wiki-page blockquote,
.git-wiki-page dl,
.git-wiki-page ol,
.git-wiki-page p,
.git-wiki-page pre,
.git-wiki-page table,
.git-wiki-page ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.git-wiki-page hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.git-wiki-page blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.git-wiki-page blockquote>:first-child {
  margin-top: 0;
}

.git-wiki-page blockquote>:last-child {
  margin-bottom: 0;
}

.git-wiki-page kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.git-wiki-page h1,
.git-wiki-page h2,
.git-wiki-page h3,
.git-wiki-page h4,
.git-wiki-page h5,
.git-wiki-page h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.git-wiki-page h1 {
  font-size: 2em;
}

.git-wiki-page h1,
.git-wiki-page h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

.git-wiki-page h2 {
  font-size: 1.5em;
}

.git-wiki-page h3 {
  font-size: 1.25em;
}

.git-wiki-page h4 {
  font-size: 1em;
}

.git-wiki-page h5 {
  font-size: .875em;
}

.git-wiki-page h6 {
  color: #6a737d;
  font-size: .85em;
}

.git-wiki-page ol,
.git-wiki-page ul {
  padding-left: 2em;
}

.git-wiki-page ol ol,
.git-wiki-page ol ul,
.git-wiki-page ul ol,
.git-wiki-page ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.git-wiki-page li {
  word-wrap: break-all;
}

.git-wiki-page li>p {
  margin-top: 16px;
}

.git-wiki-page li+li {
  margin-top: .25em;
}

.git-wiki-page dl {
  padding: 0;
}

.git-wiki-page dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.git-wiki-page dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.git-wiki-page table {
  display: block;
  overflow: auto;
  width: 100%;
}

.git-wiki-page table th {
  font-weight: 600;
}

.git-wiki-page table td,
.git-wiki-page table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.git-wiki-page table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.git-wiki-page table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.git-wiki-page img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

.git-wiki-page img[align=right] {
  padding-left: 20px;
}

.git-wiki-page img[align=left] {
  padding-right: 20px;
}

.git-wiki-page code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.git-wiki-page pre {
  word-wrap: normal;
}

.git-wiki-page pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.git-wiki-page .highlight {
  margin-bottom: 16px;
}

.git-wiki-page .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.git-wiki-page .highlight pre,
.git-wiki-page pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.git-wiki-page pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.git-wiki-page .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 90%;
}

.git-wiki-page .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

.git-wiki-page .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.git-wiki-page .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,.3);
  cursor: pointer;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

.git-wiki-page .blob-num:hover {
  color: rgba(27,31,35,.6);
}

.git-wiki-page .blob-num:before {
  content: attr(data-line-number);
}

.git-wiki-page .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.git-wiki-page .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

.git-wiki-page .pl-token.active,
.git-wiki-page .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

.git-wiki-page kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.git-wiki-page :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.git-wiki-page .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.git-wiki-page .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.git-wiki-page .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.git-wiki-page .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.git-wiki-page .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.git-wiki-page .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.git-wiki-page .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.git-wiki-page .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.git-wiki-page .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.git-wiki-page .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.git-wiki-page .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.git-wiki-page .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.git-wiki-page .task-list-item {
  list-style-type: none;
}

.git-wiki-page .task-list-item+.task-list-item {
  margin-top: 3px;
}

.git-wiki-page .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.git-wiki-page hr {
  border-bottom-color: #eee;
}

.git-wiki-page .pl-0 {
  padding-left: 0!important;
}

.git-wiki-page .pl-1 {
  padding-left: 4px!important;
}

.git-wiki-page .pl-2 {
  padding-left: 8px!important;
}

.git-wiki-page .pl-3 {
  padding-left: 16px!important;
}

.git-wiki-page .pl-4 {
  padding-left: 24px!important;
}

.git-wiki-page .pl-5 {
  padding-left: 32px!important;
}

.git-wiki-page .pl-6 {
  padding-left: 40px!important;
}

.git-wiki-page .pl-7 {
  padding-left: 48px!important;
}

.git-wiki-page .pl-8 {
  padding-left: 64px!important;
}

.git-wiki-page .pl-9 {
  padding-left: 80px!important;
}

.git-wiki-page .pl-10 {
  padding-left: 96px!important;
}

.git-wiki-page .pl-11 {
  padding-left: 112px!important;
}

.git-wiki-page .pl-12 {
  padding-left: 128px!important;
}
