@font-face {
    font-family: octicons-link;
    src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

body>.wrapper .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

body>.wrapper .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

body>.wrapper .anchor:focus {
    outline: none;
}

body>.wrapper h1 .octicon-link,
body>.wrapper h2 .octicon-link,
body>.wrapper h3 .octicon-link,
body>.wrapper h4 .octicon-link,
body>.wrapper h5 .octicon-link,
body>.wrapper h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

body>.wrapper h1:hover .anchor,
body>.wrapper h2:hover .anchor,
body>.wrapper h3:hover .anchor,
body>.wrapper h4:hover .anchor,
body>.wrapper h5:hover .anchor,
body>.wrapper h6:hover .anchor {
    text-decoration: none;
}

body>.wrapper h1:hover .anchor .octicon-link,
body>.wrapper h2:hover .anchor .octicon-link,
body>.wrapper h3:hover .anchor .octicon-link,
body>.wrapper h4:hover .anchor .octicon-link,
body>.wrapper h5:hover .anchor .octicon-link,
body>.wrapper h6:hover .anchor .octicon-link {
    visibility: visible;
}

body>.wrapper {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

body>.wrapper .pl-c {
    color: #6a737d;
}

body>.wrapper .pl-c1,
body>.wrapper .pl-s .pl-v {
    color: #005cc5;
}

body>.wrapper .pl-e,
body>.wrapper .pl-en {
    color: #6f42c1;
}

body>.wrapper .pl-s .pl-s1,
body>.wrapper .pl-smi {
    color: #24292e;
}

body>.wrapper .pl-ent {
    color: #22863a;
}

body>.wrapper .pl-k {
    color: #d73a49;
}

body>.wrapper .pl-pds,
body>.wrapper .pl-s,
body>.wrapper .pl-s .pl-pse .pl-s1,
body>.wrapper .pl-sr,
body>.wrapper .pl-sr .pl-cce,
body>.wrapper .pl-sr .pl-sra,
body>.wrapper .pl-sr .pl-sre {
    color: #032f62;
}

body>.wrapper .pl-smw,
body>.wrapper .pl-v {
    color: #e36209;
}

body>.wrapper .pl-bu {
    color: #b31d28;
}

body>.wrapper .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
}

body>.wrapper .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;
}

body>.wrapper .pl-c2:before {
    content: "^M";
}

body>.wrapper .pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700;
}

body>.wrapper .pl-ml {
    color: #735c0f;
}

body>.wrapper .pl-mh,
body>.wrapper .pl-mh .pl-en,
body>.wrapper .pl-ms {
    color: #005cc5;
    font-weight: 700;
}

body>.wrapper .pl-mi {
    color: #24292e;
    font-style: italic;
}

body>.wrapper .pl-mb {
    color: #24292e;
    font-weight: 700;
}

body>.wrapper .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
}

body>.wrapper .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
}

body>.wrapper .pl-mc {
    background-color: #ffebda;
    color: #e36209;
}

body>.wrapper .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
}

body>.wrapper .pl-mdr {
    color: #6f42c1;
    font-weight: 700;
}

body>.wrapper .pl-ba {
    color: #586069;
}

body>.wrapper .pl-sg {
    color: #959da5;
}

body>.wrapper .pl-corl {
    color: #032f62;
    text-decoration: underline;
}

body>.wrapper details {
    display: block;
}

body>.wrapper summary {
    display: list-item;
}

body>.wrapper a {
    background-color: transparent;
}

body>.wrapper a:active,
body>.wrapper a:hover {
    outline-width: 0;
}

body>.wrapper strong {
    font-weight: inherit;
    font-weight: bolder;
}

body>.wrapper h1 {
    font-size: 2em;
    margin: .67em 0;
}

body>.wrapper img {
    border-style: none;
}

body>.wrapper code,
body>.wrapper kbd,
body>.wrapper pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

body>.wrapper hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body>.wrapper input {
    font: inherit;
    margin: 0;
}

body>.wrapper input {
    overflow: visible;
}

body>.wrapper [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

body>.wrapper * {
    box-sizing: border-box;
}

body>.wrapper input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body>.wrapper a {
    color: #0366d6;
    text-decoration: none;
}

body>.wrapper a:hover {
    text-decoration: underline;
}

body>.wrapper strong {
    font-weight: 600;
}

body>.wrapper hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

body>.wrapper hr:before {
    content: "";
    display: table;
}

body>.wrapper hr:after {
    clear: both;
    content: "";
    display: table;
}

body>.wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}

body>.wrapper td,
body>.wrapper th {
    padding: 0;
}

body>.wrapper details summary {
    cursor: pointer;
}

body>.wrapper h1,
body>.wrapper h2,
body>.wrapper h3,
body>.wrapper h4,
body>.wrapper h5,
body>.wrapper h6 {
    margin-bottom: 0;
    margin-top: 0;
}

body>.wrapper h1 {
    font-size: 32px;
}

body>.wrapper h1,
body>.wrapper h2 {
    font-weight: 600;
}

body>.wrapper h2 {
    font-size: 24px;
}

body>.wrapper h3 {
    font-size: 20px;
}

body>.wrapper h3,
body>.wrapper h4 {
    font-weight: 600;
}

body>.wrapper h4 {
    font-size: 16px;
}

body>.wrapper h5 {
    font-size: 14px;
}

body>.wrapper h5,
body>.wrapper h6 {
    font-weight: 600;
}

body>.wrapper h6 {
    font-size: 12px;
}

body>.wrapper p {
    margin-bottom: 10px;
    margin-top: 0;
}

body>.wrapper blockquote {
    margin: 0;
}

body>.wrapper ol,
body>.wrapper ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

body>.wrapper ol ol,
body>.wrapper ul ol {
    list-style-type: lower-roman;
}

body>.wrapper ol ol ol,
body>.wrapper ol ul ol,
body>.wrapper ul ol ol,
body>.wrapper ul ul ol {
    list-style-type: lower-alpha;
}

body>.wrapper dd {
    margin-left: 0;
}

body>.wrapper code,
body>.wrapper pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
}

body>.wrapper pre {
    margin-bottom: 0;
    margin-top: 0;
}

body>.wrapper input::-webkit-inner-spin-button,
body>.wrapper input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

body>.wrapper .border {
    border: 1px solid #e1e4e8 !important;
}

body>.wrapper .border-0 {
    border: 0 !important;
}

body>.wrapper .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

body>.wrapper .rounded-1 {
    border-radius: 3px !important;
}

body>.wrapper .bg-white {
    background-color: #fff !important;
}

body>.wrapper .bg-gray-light {
    background-color: #fafbfc !important;
}

body>.wrapper .text-gray-light {
    color: #6a737d !important;
}

body>.wrapper .mb-0 {
    margin-bottom: 0 !important;
}

body>.wrapper .my-2 {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

body>.wrapper .pl-0 {
    padding-left: 0 !important;
}

body>.wrapper .py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

body>.wrapper .pl-1 {
    padding-left: 4px !important;
}

body>.wrapper .pl-2 {
    padding-left: 8px !important;
}

body>.wrapper .py-2 {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

body>.wrapper .pl-3,
body>.wrapper .px-3 {
    padding-left: 16px !important;
}

body>.wrapper .px-3 {
    padding-right: 16px !important;
}

body>.wrapper .pl-4 {
    padding-left: 24px !important;
}

body>.wrapper .pl-5 {
    padding-left: 32px !important;
}

body>.wrapper .pl-6 {
    padding-left: 40px !important;
}

body>.wrapper .f6 {
    font-size: 12px !important;
}

body>.wrapper .lh-condensed {
    line-height: 1.25 !important;
}

body>.wrapper .text-bold {
    font-weight: 600 !important;
}

body>.wrapper:before {
    content: "";
    display: table;
}

body>.wrapper:after {
    clear: both;
    content: "";
    display: table;
}

body>.wrapper>:first-child {
    margin-top: 0 !important;
}

body>.wrapper>:last-child {
    margin-bottom: 0 !important;
}

body>.wrapper a:not([href]) {
    color: inherit;
    text-decoration: none;
}

body>.wrapper blockquote,
body>.wrapper dl,
body>.wrapper ol,
body>.wrapper p,
body>.wrapper pre,
body>.wrapper table,
body>.wrapper ul {
    margin-bottom: 16px;
    margin-top: 0;
}

body>.wrapper hr {
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
}

body>.wrapper blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

body>.wrapper blockquote>:first-child {
    margin-top: 0;
}

body>.wrapper blockquote>:last-child {
    margin-bottom: 0;
}

body>.wrapper kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

body>.wrapper h1,
body>.wrapper h2,
body>.wrapper h3,
body>.wrapper h4,
body>.wrapper h5,
body>.wrapper h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

body>.wrapper h1 {
    font-size: 2em;
}

body>.wrapper h1,
body>.wrapper h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

body>.wrapper h2 {
    font-size: 1.5em;
}

body>.wrapper h3 {
    font-size: 1.25em;
}

body>.wrapper h4 {
    font-size: 1em;
}

body>.wrapper h5 {
    font-size: .875em;
}

body>.wrapper h6 {
    color: #6a737d;
    font-size: .85em;
}

body>.wrapper ol,
body>.wrapper ul {
    padding-left: 2em;
}

body>.wrapper ol ol,
body>.wrapper ol ul,
body>.wrapper ul ol,
body>.wrapper ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

body>.wrapper li {
    word-wrap: break-all;
}

body>.wrapper li>p {
    margin-top: 16px;
}

body>.wrapper li+li {
    margin-top: .25em;
}

body>.wrapper dl {
    padding: 0;
}

body>.wrapper dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
}

body>.wrapper dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
}

body>.wrapper table {
    display: block;
    overflow: auto;
    width: 100%;
}

body>.wrapper table th {
    font-weight: 600;
}

body>.wrapper table td,
body>.wrapper table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

body>.wrapper table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

body>.wrapper table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

body>.wrapper img {
    background-color: #fff;
    box-sizing: content-box;
    max-width: 100%;
}

body>.wrapper img[align=right] {
    padding-left: 20px;
}

body>.wrapper img[align=left] {
    padding-right: 20px;
}

body>.wrapper code {
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

body>.wrapper pre {
    word-wrap: normal;
}

body>.wrapper pre>code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;
}

body>.wrapper .highlight {
    margin-bottom: 16px;
}

body>.wrapper .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

body>.wrapper .highlight pre,
body>.wrapper pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

body>.wrapper pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
}

body>.wrapper .commit-tease-sha {
    color: #444d56;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 90%;
}

body>.wrapper .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

body>.wrapper .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

body>.wrapper .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, .3);
    cursor: pointer;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

body>.wrapper .blob-num:hover {
    color: rgba(27, 31, 35, .6);
}

body>.wrapper .blob-num:before {
    content: attr(data-line-number);
}

body>.wrapper .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

body>.wrapper .blob-code-inner {
    color: #24292e;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

body>.wrapper .pl-token.active,
body>.wrapper .pl-token:hover {
    background: #ffea7f;
    cursor: pointer;
}

body>.wrapper kbd {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

body>.wrapper :checked+.radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
}

body>.wrapper .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

body>.wrapper .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

body>.wrapper .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

body>.wrapper .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

body>.wrapper .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

body>.wrapper .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

body>.wrapper .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

body>.wrapper .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

body>.wrapper .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

body>.wrapper .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

body>.wrapper .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

body>.wrapper .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

body>.wrapper .task-list-item {
    list-style-type: none;
}

body>.wrapper .task-list-item+.task-list-item {
    margin-top: 3px;
}

body>.wrapper .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

body>.wrapper hr {
    border-bottom-color: #eee;
}

body>.wrapper .pl-0 {
    padding-left: 0 !important;
}

body>.wrapper .pl-1 {
    padding-left: 4px !important;
}

body>.wrapper .pl-2 {
    padding-left: 8px !important;
}

body>.wrapper .pl-3 {
    padding-left: 16px !important;
}

body>.wrapper .pl-4 {
    padding-left: 24px !important;
}

body>.wrapper .pl-5 {
    padding-left: 32px !important;
}

body>.wrapper .pl-6 {
    padding-left: 40px !important;
}

body>.wrapper .pl-7 {
    padding-left: 48px !important;
}

body>.wrapper .pl-8 {
    padding-left: 64px !important;
}

body>.wrapper .pl-9 {
    padding-left: 80px !important;
}

body>.wrapper .pl-10 {
    padding-left: 96px !important;
}

body>.wrapper .pl-11 {
    padding-left: 112px !important;
}

body>.wrapper .pl-12 {
    padding-left: 128px !important;
}