{% if site.inc_before_tail %}
{% include {{ site.inc_before_tail }} %}
{% endif %}

<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

{% if site.google_analytics %}
<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#git-wiki-toc').toc({
            title: '<i>Contents</i>',
            showSpeed: 0,
            headers: '#git-wiki-content h1, #git-wiki-content h2, #git-wiki-content h3, #git-wiki-content h4, #git-wiki-content h5, #git-wiki-content h6'
        });
        $(document.body).redLinks();
    });
</script>

{% if site.inc_after_tail %}
{% include {{ site.inc_after_tail }} %}
{% endif %}
