---
title: Not Found
permalink: /404.html
is_wiki_page: false
---

<!-- redirect to page creator if not exists -->
{% if site.disable_edit != true %}
<script type="text/javascript">
    var filename = window.location.pathname.split('/').pop();
    if (!filename.endsWith(".md"))
        filename+=".md";

    var url = '{{ site.github.repository_url }}/new/{{site.git_branch | escape}}?filename={{ site.wiki_folder | default: 'wiki' }}/'+filename;
    window.location=url;
</script>
{% else %}

Page Not Found

{% endif %}