<div class="git-wiki-page">
  <section>

    {% include git-wiki/sections/tools/tools.html %}

    {% if site.inc_before_toc %}
    {% include {{ site.inc_before_toc }} %}
    {% endif %}

    <div id="git-wiki-toc"></div>

    {% if site.inc_after_toc %}
    {% include {{ site.inc_after_toc }} %}
    {% endif %}

    {% if site.inc_before_content %}
    {% include {{ site.inc_before_content }} %}
    {% endif %}

    <div id="git-wiki-content">
      {{ content }}
    </div>

    {% if site.inc_after_content %}
    {% include {{ site.inc_after_content }} %}
    {% endif %}
  </section>
</div>