<!--suppress HtmlUnknownTarget -->
<div class="sidebar-wrapper">
    <b>How-To ( branch master )</b> <a href="https://github.com/azerothcore/wiki/edit/master/_includes/azerothcore/sidebar.html">Edit</a>
    <b>Install:</b>
    <ul>
        <li><a href="/wiki/Requirements">Requirements</a></li>
        <li><a href="/wiki/Installation">Installation</a></li>
        <li><a href="/wiki/Database-Setup">Database Setup</a></li>
        <li><a href="/wiki/Update">Update your core</a></li>
        <li><a href="/wiki/Memory-Usage">Memory Usage</a></li>
    </ul>
    <b>Contribute:</b>
    <ul>
        <li><a href="/wiki/Contribute">How to contribute </a></li>
        <li><a href="/wiki/How-to-create-a-PR">How to create a PR</a></li>
        <li><a href="/wiki/How-to-test-a-PR">How to test a PR</a></li>
        <li><a href="/wiki/How-to-test-DB-only-changes">How to test DB-only changes</a></li>
    </ul>
    <b>Database [WIP]:</b>
    <ul>
        <li><a href="/wiki/database-world">DB world</a></li>
        <li><a href="/wiki/database-characters">DB characters</a></li>
        <li><a href="/wiki/database-auth">DB auth</a></li>
    </ul>
    <b>Other:</b>
    <ul>
        <li><a href="/wiki/How-to-ask-for-help">How to ask for help</a></li>
        <li><a href="/wiki/best-practices">Best practices</a></li>
        <li><a href="/wiki/FAQ">FAQ</a></li>
        <li><a href="/wiki/Creating-Accounts">Create Accounts</a></li>
        <li><a href="/wiki/Dealing-with-SQL-files">Dealing with SQL files</a></li>
        <li><a href="/wiki/Syncing-your-fork">Syncing your fork</a></li>
        <li><a href="/wiki/Create-a-Module">Create a Module</a></li>
        <li><a href="/wiki/Create-a-Script">Create your first Script</a></li>
        <li><a href="/wiki/how-to-work-with-conf-files">Work with configuration files (.conf & .conf.dist)</a></li>
        <li><a href="/wiki/Extract-Client-Data">Extract client data (maps, mmaps, vmaps, dbc)</a></li>
        <li><a href="/wiki/linux-restarter">Linux automatic restarter</a></li>
        <li><a href="/wiki/GM-Commands">GM Commands</a></li>
        <li><a href="/wiki/Waypoints-Information">Information about waypoints</a></li>
    </ul>
    <b>Documentation</b>
    <ul>
        <li><a href="/wiki/The-Modular-Structure">The Modular Structure</a></li>
        <li><a href="/wiki/Directory-Structure">Directory Structure</a></li>
        <li><a href="/wiki/Coding-Standards">Coding Standards</a></li>
        <li><a href="/wiki/Project-Versioning">Project Versioning</a></li>
        <li><a href="/wiki/SQL-Versioning">Sql Versioning</a></li>
        <li><a href="/wiki/Hooks-Bash">Hooks Bash</a></li>
        <li><a href="/wiki/Hooks-Cmake">Hooks Cmake</a></li>
        <li><a href="/wiki/Create-a-new-Hook">Hooks C++</a></li>
        <li><a href="/wiki/Database-Structure">Database Structure</a></li>
        <li><a href="/wiki/CMake-options">CMake options</a></li>
        <li><a href="/wiki/remove_add_flags">Remove and Add database flags</a></li>
        <li><a href="/wiki/Bit-and_bytes-tutorial">Bitwise operations</a></li>
    </ul>
    <b>Archive</b>
    <ul>
        <li><a target="_blank" href="http://www.azerothcore.org/pages/sunwell.pl/">Original SC Description</a></li>
        <li><a href="/wiki/Previous-Version-Documentation">Archived Versions Documentation</a></li>
    </ul>
    <b>Old unsupported Versions:</b>
    <ul>
        <li><a href="/wiki/release_1.x">Release 1.x - First Composition</a></li>
        <li><a href="/wiki/release_0.x">Release 0.x - SunWell</a></li>
    </ul>
</div>
