<pre>
<b>How-To ( master 2.x-dev )</b> <a href="https://github.com/azerothcore/wiki/edit/master/_includes/azerothcore/sidebar.html">Edit</a>
<ul>
<li> <a href="/wiki/Install-with-Docker">Install with Docker</a>
</ul>
<b>Install on your System:</b>
<ul>
<li> <a href="/wiki/Requirements">Requirements</a>
<li> <a href="/wiki/Installation">Installation</a>
<li> <a href="/wiki/Database-Setup">Database Setup</a>
<li> <a href="/wiki/Update">Update your core</a>
</ul>
<b>Contributing:</b>
<ul>
<li> <a href="/wiki/Contribute">How to contribute </a>
<li> <a href="/wiki/How-to-test-a-PR">How to test a PR</a>
<li> <a href="/wiki/How-to-test-DB-only-changes">How to test DB-only changes</a>
</ul>
<b>Database [WIP]:</b>
<ul>
<li> <a href="/wiki/database-world">DB world</a>
<li> <a href="/wiki/database-characters">DB characters</a>
<li> <a href="/wiki/database-auth">DB auth</a>
</ul>
<b>Other:</b>
<ul>
<li> <a href="/wiki/How-to-ask-for-help">How to ask for help</a>
<li> <a href="/wiki/best-practices">Best practices</a>
<li> <a href="/wiki/FAQ">FAQ</a>
<li> <a href="/wiki/Creating-Accounts">Create Accounts</a>
<li> <a href="/wiki/Dealing-with-SQL-files">Dealing with SQL files</a>
<li> <a href="/wiki/Syncing-your-fork">Syncing your fork</a>
<li> <a href="/wiki/Create-a-Module">Create a Module</a>
<li> <a href="/wiki/Create-a-Script">Create your first Script</a>
<li> <a href="/wiki/how-to-work-with-conf-files">Work with configuration files (.conf & .conf.dist)</a>
<li> <a href="/wiki/Extract-Client-Data">Extract client data (maps, mmaps, vmaps, dbc)</a>
<li> <a href="/wiki/linux-restarter">Linux automatic restarter</a>
</ul>
<b>Current supported Versions:</b>
<ul>
<li> <a href="/wiki/release_1.x">Release 1.x - First Composition</a>
</ul>
<b>Documentation</b>
<ul>
<li> <a href="/wiki/The-Modular-Structure">The Modular Structure</a>
<li> <a href="/wiki/Directory-Structure">Directory Structure</a>
<li> <a href="/wiki/Coding-Standards">Coding Standards</a>
<li> <a href="/wiki/Project-Versioning">Project Versioning</a>
<li> <a href="/wiki/SQL-Versioning">Sql Versioning</a>
<li> <a href="/wiki/Hooks-Bash">Hooks Bash</a>
<li> <a href="/wiki/Hooks-Cmake">Hooks Cmake</a>
<li> <a href="/wiki/Create-a-new-Hook">Hooks C++</a>
<li> <a href="/wiki/Database-Structure">Database Structure</a>
<li> <a href="/wiki/CMake-options">CMake options</a>
</ul>
<b>Archive</b>
<ul>
<li> <a target="_blank" href="http://www.azerothcore.org/pages/sunwell.pl/">Original SC Description</a>
<li> <a href="/wiki/Previous-Version-Documentation">Archived Versions Documentation</a>
</ul>
<b>Old unsupported Versions:</b>
<ul>
<li> <a href="/wiki/release_0.x">Release 0.x - SunWell</a>
</ul>
</pre>
